$break-sm: 384px;
$break-md: 576px;
$break-lg: 768px;

$ldpi: " (-webkit-min-device-pixel-ratio: 0.75), (min-resolution: 120dpi)";
$mdpi: " (-webkit-min-device-pixel-ratio: 1), (min-resolution: 160dpi)";
$hdpi: " (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 240dpi) ";
$xhdpi: "(-webkit-device-pixel-ratio:2), (min-resolution: 320 dpi)";
$xxhdpi: "(-webkit-device-pixel-ratio:3), (min-resolution: 480 dpi)";
$xxxhdpi: "(-webkit-device-pixel-ratio:4), (min-resolution: 640 dpi)";

$FontPath: "./../../../fonts" !default;
$FontName: "Roboto" !default;
$FontVersion: "1.1.0" !default;
$FontType: 'Regular';

$indigo: (50: #E8EAF6, 100: #C5CAE9, 200: #9FA8DA, 300: #7986CB, 400: #5C6BC0, 500:#3F51B5, 600: #3949AB, 700:#303F9F, 800: #283593, 900: #1A237E, A100: #8C9EFF, A200: #536DFE, A400: #3D5AFE, A700:#304FFE);
$gray: (50: #FAFAFA, 100: #F5F5F5, 200: #EEEEEE, 300: #E0E0E0, 400: #BDBDBD, 500:#9E9E9E, 600: #757575, 700:#616161, 800: #424242, 900: #212121);

$density-ratios: (ldpi: .75, mdpi: 1, hdpi: 1.5, xhdpi:2, xxhdpi:3, xxxhdpi:4);

@function dpToPx($dp, $density-ratio: .75) {
  @return $dp * $density-ratio + px;
}

@mixin height-dp($dp) {
  @media #{$ldpi} {
    height: dpToPx($dp, #{map_get($density-ratios, 'ldpi')});
  }
  @media #{$mdpi} {
    height: dpToPx($dp, #{map_get($density-ratios, 'mdpi')});
  }
  @media #{$hdpi} {
    height: dpToPx($dp, #{map_get($density-ratios, 'hdpi')});
  }
  @media #{$xhdpi} {
    height: dpToPx($dp, #{map_get($density-ratios, 'xhdpi')});
  }
  @media #{$xxhdpi} {
    height: dpToPx($dp, #{map_get($density-ratios, 'xxhdpi')});
  }
  @media #{$xxxhdpi} {
    height: dpToPx($dp, #{map_get($density-ratios, 'xxxhdpi')});
  }
}

@mixin font-size-sp($sp) {
  @media #{$ldpi} {
    font-size: dpToPx($sp, #{map_get($density-ratios, 'ldpi')});
  }
  @media #{$mdpi} {
    font-size: dpToPx($sp, #{map_get($density-ratios, 'mdpi')});
  }
  @media #{$hdpi} {
    font-size: dpToPx($sp, #{map_get($density-ratios, 'hdpi')});
  }
  @media #{$xhdpi} {
    font-size: dpToPx($sp, #{map_get($density-ratios, 'xhdpi')});
  }
  @media #{$xxhdpi} {
    font-size: dpToPx($sp, #{map_get($density-ratios, 'xxhdpi')});
  }
  @media #{$xxxhdpi} {
    font-size: dpToPx($sp, #{map_get($density-ratios, 'xxxhdpi')});
  }
}

@mixin padding-dp($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: dpToPx($top) dpToPx($right) dpToPx($bottom) dpToPx($left);
};

@mixin fontdef-woff($FontPath, $FontName, $FontVersion, $FontType) {
  src: url('#{$FontPath}/#{$FontName}/#{$FontType}/#{$FontName}#{$FontType}.woff?v=#{$FontVersion}') format('woff'),
  url('#{$FontPath}/#{$FontName}/#{$FontType}/#{$FontName}#{$FontType}.ttf?v=#{$FontVersion}') format('truetype');
}

//------------------------------------------------------------------------

@font-face {
  font-family: RobotoLight;
  @include fontdef-woff($FontPath, $FontName, $FontVersion, 'Regular');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RobotoRegular;
  @include fontdef-woff($FontPath, $FontName, $FontVersion, $FontType);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoMedium;
  @include fontdef-woff($FontPath, $FontName, $FontVersion, 'Medium');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: RobotoLight, Arial, serif;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (min-width: $break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (min-width: $break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (min-width: $break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

.Grid--gutters {
  margin: -1em 0 1em -1em;
}

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em;
}

.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em;
}

.Grid--guttersXl {
  margin: -2em 0 2em -2em;
}

.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em;
}

@media (min-width: $break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (min-width: $break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (min-width: $break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

.u-full {
  width: 100% !important;
  flex: none !important;
}

.u-1of2 {
  width: 50% !important;
  flex: none !important;
}

.u-1of3 {
  width: 33.3333% !important;
  flex: none !important;
}

.u-2of3 {
  width: 66.6667% !important;
  flex: none !important;
}

.u-1of4 {
  width: 25% !important;
  flex: none !important;
}

.u-3of4 {
  width: 75% !important;
  flex: none !important;
}

.u-smaller {
  font-size: 0.85em;
}

.u-bigger {
  font-size: 1.2em;
}

@media (min-width: $break-lg) {
  .u-small-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-small-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-small-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-small-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-small-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-small-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@media (min-width: $break-lg) {
  .u-med-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-med-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-med-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-med-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-med-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-med-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@media (min-width: $break-lg) {
  .u-large-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-large-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-large-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-large-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-large-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-large-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

.u-spaceAN {
  margin: 0 !important;
}

.u-spaceVN {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-spaceTN {
  margin-top: 0 !important;
}

.u-spaceRN {
  margin-right: 0 !important;
}

.u-spaceBN {
  margin-bottom: 0 !important;
}

.u-spaceLN {
  margin-left: 0 !important;
}

.u-spaceAS {
  margin: .5em !important;
}

.u-spaceVS {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.u-spaceTS {
  margin-top: .5em !important;
}

.u-spaceRS {
  margin-right: .5em !important;
}

.u-spaceBS {
  margin-bottom: .5em !important;
}

.u-spaceLS {
  margin-left: .5em !important;
}

.u-spaceAM {
  margin: 1em !important;
}

.u-spaceVM {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.u-spaceTM {
  margin-top: 1em !important;
}

.u-spaceRM {
  margin-right: 1em !important;
}

.u-spaceBM {
  margin-bottom: 1em !important;
}

.u-spaceLM {
  margin-left: 1em !important;
}

.u-spaceAL {
  margin: 2em !important;
}

.u-spaceVL {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.u-spaceTL {
  margin-top: 2em !important;
}

.u-spaceRL {
  margin-right: 2em !important;
}

.u-spaceBL {
  margin-bottom: 2em !important;
}

.u-spaceLL {
  margin-left: 2em !important;
}

table.table-widget {
  background-color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  tr {
    border-bottom: 1px solid darken(white, 12%);
  }
  td, th {
    &.text {
      text-align: left;
    }
    &.number {
      text-align: right;
    }
    &.select {
      text-align: left;
      padding: 0 24px;
      > .checkbox {
        margin: 8px;
        color: #{map_get($gray, 500)};
        cursor: pointer;
        padding-left: 18px;
        padding-right: 0;
        line-height: 26px;
        &.checked{
          .check-mark {
            animation: checkbox-animation 140ms forwards;
          }
        }
        .icon {
          width: 18px;
          height: 18px;
          position: relative;
          border: 2px solid #{map_get($gray, 500)};
          &.pressed{
            >.ripple {
              animation: ripple-amimation 140ms;
            }
          }
          >.ripple{
            position: absolute;
            top: calc(0px - (2.66 * 18px - 18px) / 2);
            left: calc(0px - (2.66 * 18px - 18px) / 2);
            width: calc(2.66 * 18px);
            height: calc(2.66 * 18px);
            color: #212121;
            opacity: 0;
            pointer-events: none;
            background-color: #3f51b5;
            border-radius: 50%;
          }
          > .check-mark {
            position: absolute;
            width: 36%;
            height: 70%;
            border: none white;
            border-right: calc(2 / 15 * 18px) solid;
            border-bottom: calc(2 / 15 * 18px) solid;
            -webkit-transform-origin: 97% 86%;
            transform-origin: 97% 86%;
            box-sizing: content-box;

            @-webkit-keyframes checkbox-animation {
              0% {
                -webkit-transform: scale(0, 0) rotate(45deg);
              }

              100% {
                -webkit-transform: scale(1, 1) rotate(45deg);
              }

            }

            @keyframes checkbox-animation {
              0% {
                transform: scale(0, 0) rotate(45deg);
              }

              100% {
                transform: scale(1, 1) rotate(45deg);
              }

            }

            @-webkit-keyframes ripple-animation {
              0% {
                -webkit-transform: scale(0, 0);
                opacity:0;
              }

              100% {
                -webkit-transform: scale(1, 1);
                opacity:0.6;
              }

            }

            @keyframes ripple-animation {
              0% {
                transform: scale(0, 0);
                opacity:0;
              }

              100% {
                transform: scale(1, 1);
                opacity:0.6;
              }

            }

          }
        }
      }
    }
  }
  > thead {
    font-family: RobotoMedium, serif;
    color: darken(white, 54%);
    > tr {
      height: 64px;
      font-size: 12px;
      border-bottom: 1px solid darken(white, 12%);
      > th {
        padding: 0 56px;
        &:nth-child(2) {
          padding: 0 24px;
        }
        &:last-child {
          padding: 0 24px;
        }
      }
    }
  }
  > tbody {
    font-family: RobotoRegular, sans-serif;
    @include font-size-sp(12);
    color: darken(white, 87%);
    > tr {
      height: 56px;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #{map_get($gray, 200)};
      }
      &.selected {
        background-color: #{map_get($gray, 100)};
      }
      > td {
        padding: 0 56px 0 0;
        font-size: 13px;
        &:first-child {
          padding: 0 24px;
        }
        &:nth-child(2) {
          padding: 0 24px;
        }
        &:last-child {
          padding: 0 24px;
          border-bottom: none;
        }
      }

    }
  }
}