$break-sm: 384px;
$break-md: 576px;
$break-lg: 768px;

$ldpi: " (-webkit-min-device-pixel-ratio: 0.75), (min-resolution: 120dpi)";
$mdpi: " (-webkit-min-device-pixel-ratio: 1), (min-resolution: 160dpi)";
$hdpi: " (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 240dpi) ";
$xhdpi: "(-webkit-device-pixel-ratio:2), (min-resolution: 320 dpi)";
$xxhdpi: "(-webkit-device-pixel-ratio:3), (min-resolution: 480 dpi)";
$xxxhdpi: "(-webkit-device-pixel-ratio:4), (min-resolution: 640 dpi)";

$FontPath: "./../../../fonts" !default;
$FontName: "Roboto" !default;
$FontVersion: "1.1.0" !default;
$FontType: 'Regular';

$indigo: (
        50: #E8EAF6,
        100: #C5CAE9,
        200: #9FA8DA,
        300: #7986CB,
        400: #5C6BC0,
        500:#3F51B5,
        600: #3949AB,
        700:#303F9F,
        800: #283593,
        900: #1A237E,
        A100: #8C9EFF,
        A200: #536DFE,
        A400: #3D5AFE,
        A700:#304FFE,
);

@mixin height-dp($dp) {
  @media #{$ldpi} {
    height: $dp * .75 +px;
  }
  @media #{$mdpi} {
    height: $dp * 1 + px;
  }
  @media #{$hdpi} {
    height: $dp * 1.5 + px;
  }
  @media #{$xhdpi} {
    height: $dp * 2 + px;
  }
  @media #{$xxhdpi} {
    height: $dp * 3 + px
  }
  @media #{$xxxhdpi} {
    height: $dp * 4 + px
  }
}

@mixin font-size-sp($sp) {
  @media #{$ldpi} {
    font-size: $sp * .75 +px;
  }
  @media #{$mdpi} {
    font-size: $sp * 1 + px;
  }
  @media #{$hdpi} {
    font-size: $sp * 1.5 + px;
  }
  @media #{$xhdpi} {
    font-size: $sp * 2 + px;
  }
  @media #{$xxhdpi} {
    font-size: $sp* 3 + px
  }
  @media #{$xxxhdpi} {
    font-size: $sp * 4 + px
  }
}

@mixin padding-dp($top, $right, $bottom, $left) {
  @media #{$ldpi} {
    padding: $top * .75 +px, $right *.075 + px, $bottom *.075 + px, $left *.075 + px;
  }
  @media #{$mdpi} {
    padding: $top * 1 +px, $right * 1 + px, $bottom * 1 + px, $left * 1 + px;
  }
  @media #{$hdpi} {
    padding: $top * 1.5 +px, $right * 1.5 + px, $bottom * 1.5 + px, $left * 1.5 + px;
  }
  @media #{$xhdpi} {
    padding: $top * 2 +px, $right * 2 + px, $bottom * 2 + px, $left * 2 + px;
  }
  @media #{$xxhdpi} {
    padding: $top * 3 +px, $right * 3 + px, $bottom * 3 + px, $left * 3 + px;
  }
  @media #{$xxxhdpi} {
    padding: $top * 4 +px, $right * 4 + px, $bottom * 4 + px, ($left * 4) + px;
  }
}

@mixin fontdef-woff($FontPath, $FontName, $FontVersion, $FontType) {
  src: url('#{$FontPath}/#{$FontName}/#{$FontType}/#{$FontName}#{$FontType}.woff?v=#{$FontVersion}') format('woff'),
  url('#{$FontPath}/#{$FontName}/#{$FontType}/#{$FontName}#{$FontType}.ttf?v=#{$FontVersion}') format('truetype');
}

@font-face {
  font-family: RobotoLight;
  @include fontdef-woff($FontPath, $FontName, $FontVersion, 'Regular');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RobotoRegular;
  @include fontdef-woff($FontPath, $FontName, $FontVersion, $FontType);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoMedium;
  @include fontdef-woff($FontPath, $FontName, $FontVersion, 'Medium');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: RobotoLight, Arial, serif;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (min-width: $break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (min-width: $break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (min-width: $break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

.Grid--gutters {
  margin: -1em 0 1em -1em;
}

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em;
}

.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em;
}

.Grid--guttersXl {
  margin: -2em 0 2em -2em;
}

.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em;
}

@media (min-width: $break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (min-width: $break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (min-width: $break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

.u-full {
  width: 100% !important;
  flex: none !important;
}

.u-1of2 {
  width: 50% !important;
  flex: none !important;
}

.u-1of3 {
  width: 33.3333% !important;
  flex: none !important;
}

.u-2of3 {
  width: 66.6667% !important;
  flex: none !important;
}

.u-1of4 {
  width: 25% !important;
  flex: none !important;
}

.u-3of4 {
  width: 75% !important;
  flex: none !important;
}

.u-smaller {
  font-size: 0.85em;
}

.u-bigger {
  font-size: 1.2em;
}

@media (min-width: $break-lg) {
  .u-small-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-small-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-small-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-small-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-small-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-small-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@media (min-width: $break-lg) {
  .u-med-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-med-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-med-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-med-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-med-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-med-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@media (min-width: $break-lg) {
  .u-large-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-large-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-large-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-large-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-large-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-large-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

.u-spaceAN {
  margin: 0 !important;
}

.u-spaceVN {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-spaceTN {
  margin-top: 0 !important;
}

.u-spaceRN {
  margin-right: 0 !important;
}

.u-spaceBN {
  margin-bottom: 0 !important;
}

.u-spaceLN {
  margin-left: 0 !important;
}

.u-spaceAS {
  margin: .5em !important;
}

.u-spaceVS {
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.u-spaceTS {
  margin-top: .5em !important;
}

.u-spaceRS {
  margin-right: .5em !important;
}

.u-spaceBS {
  margin-bottom: .5em !important;
}

.u-spaceLS {
  margin-left: .5em !important;
}

.u-spaceAM {
  margin: 1em !important;
}

.u-spaceVM {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.u-spaceTM {
  margin-top: 1em !important;
}

.u-spaceRM {
  margin-right: 1em !important;
}

.u-spaceBM {
  margin-bottom: 1em !important;
}

.u-spaceLM {
  margin-left: 1em !important;
}

.u-spaceAL {
  margin: 2em !important;
}

.u-spaceVL {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.u-spaceTL {
  margin-top: 2em !important;
}

.u-spaceRL {
  margin-right: 2em !important;
}

.u-spaceBL {
  margin-bottom: 2em !important;
}

.u-spaceLL {
  margin-left: 2em !important;
}

table.table-widget {
  background-color: #ffffff;
  width: 100%;
  > thead {
    font-family: RobotoMedium, serif;
    color: lighten(#000000, 54%);
    > tr {
      @include height-dp(64);
      @include font-size-sp(12);
    }
  }
  > tbody {
    font-family: RobotoRegular, sans-serif;
    @include font-size-sp(12);
    color: darken(#000000, 87%);
    > tr {
      @include height-dp(56);
      &:last-child {
        @include padding-dp(0 24 0 0);
      }
      > td {
        &.text {
          text-align: left;
        }
        &.number {
          text-align: right;
        }
      }

    }
  }
}