form {
  display: flex;
  flex-direction: column;
  .form-group {
    position:relative;
    margin-bottom:45px;
    font-size: 24px;
    > input {
      border: 0;
      font-size: inherit;
      border-bottom: 1px solid #333333;
      display: block;
      width: 100%;
      &:focus {
        outline: none;
      }
      &:focus ~ label, &.has-value ~ label {
        top: -23px;
        font-size: 14px;
        left:0;
        color: #3399cc;
      }
      &:focus ~ .bar:before, &:focus ~ .bar:after {
        width: 50%;
      }
    }
    > label {
      color:#999;
      font-size:inherit;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:-4px;
      transition:0.2s ease all;
    }
    > .bar {
      position: relative;
      display: block;
      &:before, &:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
  }

  > .operations {
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 0;
    > [type=submit] {
      border: 0;
      color: #2D689B;
      font-weight: bold;
      font-size: 19px;
      background-color: transparent;
      cursor: pointer;
      padding: 8px;
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
  > .messages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: red;
  }
}